[Unit]
Description=Deepin Authentication

[Service]
Type=dbus
BusName=com.lingmo.daemon.Authenticate
ExecStart=/usr/lib/lingmo-authenticate/deepin-authentication
