*.*.swp
Test
test-*
test_*
_*
*.*~
.#*
.test
*/*.test
.vscode/
.vim/
.idea/
cmd/deepin-authentication/deepin-authentication
misc/polkit-action/*.policy

out/
gopath/
coverage.csv

/build/
compile_commands.json
