[D-BUS Service]
Name=com.lingmo.daemon.Authenticate
Exec=/usr/lib/deepin-authenticate/deepin-authentication
User=root
SystemdService=deepin-authenticate.service
