Source: lingmo-authenticate
Section: devel
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
 dde-api-dev(>> 3.16.0+),
 debhelper-compat (= 11),
 deepin-gettext-tools,
 golang-github-linuxdeepin-go-lib-dev (>> 1.8.0+),
 golang-github-linuxdeepin-go-dbus-factory-dev (>> 0.6.0+),
 golang-github-stretchr-testify-dev,
 golang-go,
 golang-gopkg-check.v1-dev,
 libgnome-keyring-dev | libsecret-1-dev,
 libjson-c-dev,
 libpam-dev,
 libsystemd-dev,
 pkg-config,
 libssl-dev,
 libglib2.0-dev,
 libjson-glib-dev,
 libgtk2.0-dev,
Standards-Version: 4.3.0
Homepage: http://lingmo.org

Package: deepin-authenticate
Architecture: any
Built-Using:
 ${misc:Built-Using},
Depends:
 dde-api,
 libpam-runtime (>= 1.3.1.11),
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 dde-qt5integration,
 deepin-face,
Conflicts:
 deepin-session,
 deepin-wm-switcher,
Description: deepin authenticate service
 deepin authentication is a service for user identifing.

Package: libdeepin-authenticate
Architecture: any
Built-Using:
 ${misc:Built-Using},
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: deepin authenticate development kit
 libdeepin-authentication is a development kit to develop application for authentication.


Package: libdeepin-authenticate-dev
Architecture: any
Built-Using:
 ${misc:Built-Using},
Depends:
 libdeepin-authenticate,
Description: deepin authenticate development kit's file
 libdeepin-authentication-dev is some file for libdeepin-authenticate.
